@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRITTER</h1>
    <p class="lead">Warning! Admin area. Please leave immediately if you are not an Administrator .</p>
    <p><a href="http://sivos.cloudvps.bg" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
