body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: antiquewhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    margin-left: 30%;
}


ul {
    list-style-type: none;
}

.avatar {
    position: relative;
    vertical-align: middle;
    border: solid 0px lightgray;
    border-radius: 5px;
}

.avatar:hover {

    box-shadow: 3px 3px 10px #888888;
    border-radius: 5px;
}

.profileAvatar {
    border-radius: 10px;
}
.profileAvatar:hover {
    box-shadow: 5px 5px 20px #888888;
}

.homeTitle {
    margin-left: 20%;
    margin-top: -10%;

}

.logo {
    margin-left: 20%;
    margin-top: -8%;
}

.leftLogo {
    width: 100px;

}

.rightLogo {
    width: 130px;
    margin-bottom: 10%;
    margin-left: 10%
}

.jumbotron {
    margin: auto;
    margin-top: 50px;
    width: 70%;
    background-color: whitesmoke;
}

#btn {
    margin-left: 20%
}

.crit {
     border: 0px solid #888888;
     background-color: #f0efbf;
     border-radius: 8px;
     box-shadow: 1px 1px 8px #888888;
    margin-top: 15px;
     /*border-bottom: 1px solid lightgray;*/
}

.crit:hover {
    background-color: whitesmoke;
    box-shadow: 3px 3px 13px #888888;
}


.critText {
    margin-left: 70px;
    position: relative;
    bottom: -35px;
    padding: 5px
}