@using CritterMVC.ViewModels
@model  IQueryable<CritterMVC.ViewModels.CritViewModel>

<br/><br/>
<h2>Latest Crits</h2>
<hr />

<strong>@Html.ActionLink("+Crit", "AddCrit", "Crits")</strong><br/><br />

@foreach (var crit in @Model)
    {
        <div class="crit">
            <a href="/Users/@crit.Author.UserName"><img class="avatar" src="@crit.Author.AvatarUrl" alt="No avatar" width="50" /></a>

            <strong>&nbsp;@crit.Text</strong>
            <p class="SentAt"><strong>Posted at: &nbsp;</strong>@crit.CreatedAt</p>
        </div>
    }
