@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="logo">
        <img class="leftLogo" src="http://images.clipartpanda.com/monster-eyeball-clipart-125736215547890388laobc_Yellow_eye.svg.hi.png" alt="The Critter sign should have been here..."/>
        <img class="rightLogo" src="http://images.clipartpanda.com/monster-eyeball-clipart-125736215547890388laobc_Yellow_eye.svg.hi.png" alt="The Critter sign should have been here..."/>
    </div>
    <div class="homeTitle">
        <h1>CRITTER</h1>
        <p class="lead">A social network for critical sharing.</p>
        <p>
            <a id="btn" href="http://sivos.cloudvps.bg" class="btn btn-primary btn-lg">Learn more &raquo;</a>
        </p>
    </div>
</div>

