@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRITTER</h1>
    <p class="lead">A social network for critical sharing.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
