@model  CritterMVC.ViewModels.CritViewModel

<div class="crit">
    <img class="avatar" src="@Model.Author.AvatarUrl" width="50" />  <strong>&nbsp;@Model.Text</strong>
    <p class="SentAt"><strong>Sent at: &nbsp;</strong>@Model.CreatedAt</p>
</div>
